/* Grid - mixin based on Skeleton grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$columns: (
	one:        4.66666666667%,
	two:        13.3333333333%,
	three:      22%,
	four:       30.6666666667%,
	five:       39.3333333333%,
	six:        48%,
	seven:      56.6666666667%,
	eight:      65.3333333333%,
	nine:       74.0%,
	ten:        82.6666666667%,
	eleven:     91.3333333333%,
	twelve:     100%,
	one-third:   30.6666666667%,
	two-thirds:  65.3333333333%,
	one-half:    48%
);

$offsets: (
	offset-one:         8.66666666667%,
	offset-two:         17.3333333333%,
	offset-three:       26%,
	offset-four:        34.6666666667%,
	offset-five:        43.3333333333%,
	offset-six:         52%,
	offset-seven:       60.6666666667%,
	offset-eight:       69.3333333333%,
	offset-nine:        78.0%,
	offset-ten:         86.6666666667%,
	offset-eleven:      95.3333333333%,
	offset-one-third:   34.6666666667%,
	offset-two-thirds:  69.3333333333%,
	offset-one-half:    52%
);


@mixin grid-container {
	position: relative;
	width: 100%;
	max-width: $size__site-main;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	
	/* For devices larger than 400px */
	@media (min-width: 400px) {
		width: 85%;
		padding: 0;
	}
	/* For devices larger than 550px */
	@media (min-width: 550px) {
		width: 80%;
	}
}

@mixin grid-column($span, $offset) {
	box-sizing: border-box;
	float: left;

	@if map-has-key($offsets, $offset) {
		margin-left: map-get($offsets, $offset);
	} @else if ($span == 'twelve') {
		margin-left: 0;
	}

	@if map-has-key($columns, $span) {
		width: map-get($columns, $span);
	} @else {
		width: 100%; 
	}

	/* For devices larger than 550px */
	@media (min-width: 550px) {
		margin-left: 4%;

		&:first-child {
			margin-left: 0;
		}
	}
}
