@media screen and (min-width: #{$breakpoint_tablet}) {
  .content-area {
  	float: right;
  	margin: 0 0 0 (-$size_site-sidebar);
  	width: $size_site-main;
  }

  .site-main {
  	margin: 0 0 0 $size_site-sidebar;
  }

  .site-content .widget-area {
  	float: left;
  	overflow: hidden;
  	width: $size_site-sidebar;
  }

  .site-footer {
  	clear: both;
  	width: $size_site-main;
  }
}
