$color__primary: #111;
$color__white: #fff;
$color__light-grey: #f4f4f4;
$color__mid-grey: #ccc;
$color__dark-grey: #666;
$color__light-black: #444;
$color__black: #222;

$color__background-body: $color__white;
$color__background-hr: $color__light-grey;
$color__background-pre: $color__light-grey;
$color__background-ins: $color__light-grey;
$color__background-screen: $color__light-grey;

$color__text-input: $color__light-black;
$color__text-input-focus: $color__black;
$color__text-screen: $color__primary;

$color__background-button: $color__white;
$color__background-button-hover: $color__light-grey;
$color__background-button-focus: $color__mid-grey;

$color__link: $color__light-black;
$color__link-visited: $color__light-black;
$color__link-hover: $color__primary;
$color__text-main: $color__dark-grey;
$color__text-headings: $color__dark-grey;

$color__border-abbr: $color__light-black;
$color__border-button: $color__mid-grey;
$color__border-button-hover: $color__light-black;
$color__border-button-focus: $color__light-black;
$color__border-input: $color__mid-grey;
$color__border-input-focus: $color__light-black;
