$font__main: sans-serif;
$font__heading: serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;;
$font__line-height-headings: 1.2;

// Font sizes
$font__size-h1: 3.052em;
$font__size-h2: 2.441em;
$font__size-h3: 1.953em;
$font__size-h4: 1.563em;
$font__size-h5: 1.25em;
$font__size-h6: 1em;
$font__size-default: 1em;
$font__size-content: 1.25em;
$font__size-small: 0.9em;
$font__size-smaller: 0.8em;
$font__size_tiny: 0.7em;

// Weights
$font__weight-default: 400;
$font__weight-bold: 700;