.content-area {
	float: left;
	width: $size__site-main;
}
.site-main {
	margin: 0 $size__site-sidebar;
}
.site-content .widget-area {
	float: left;
	margin: 0 0 0 (-$size__site-main);
	overflow: hidden;
	width: $size__site-sidebar;
}
.site-content #tertiary.widget-area {
	float: right;
}
.site-footer {
	clear: both;
	width: $size__site-main;
}