.entry-header-background {
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-width: 100%;
	overflow: hidden;
	position: relative;
}