/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "../../../components/top-navigation/top-navigation";

@import "../../../components/menu-toggle/menu-toggle";

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

@import "../../../components/social-menu/social-menu";