// ==========================================================================
// SITE LAYOUT
// All the metrics and basic styling to make the layout
// ==========================================================================



// Styles

body {
	margin: 0;
	@include breakpoint(phablet) {
		font-size: 100%; //go down to 16px
	}
}

.site-content {
	position: absolute;
	width: 100%;
	height: 100%;
}

.site-header {
	display: block;
	position: fixed;
		left: 0.519em;
		top: 1.945em;
	width: $sidebar-width - ( 0.519em * 2 );
	z-index: 9998;
	@include breakpoint(narrow-desktop) {
		position: static;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.main-navigation {
	position: fixed;
		top: 0;
		left: 0;
	width: $sidebar-width;
	padding-top: $header-height + 1.945em;
	overflow: auto;
	min-height: 100%;
	background: $blue-wordpress;
	box-shadow: inset -0.296em 0 0 rgba($blue-dark, 0.2);
	z-index: 200;
	@include breakpoint(narrow-desktop) {
		display: none;
		// This obviously needs some more thought.
		// Did this for quick test of layout on small device.
	}
}

.site-main {
	margin-left: $sidebar-width;
	background: $gray-light;
	min-height: 100%;
	@include breakpoint(narrow-desktop) {
		margin-left: auto;
	}
}

.page,
.page-links {
	max-width: $horizontal-linelenght + ($horizontal-padding*2);
	padding: $vertical-margin $horizontal-padding;
	margin: auto;
	@include breakpoint(wide-desktop) {
		max-width: $horizontal-linelenght;
		padding: $vertical-margin;
	}
}

.page {
	.page-header {
		@extend %negative-margins;
		margin-bottom: $vertical-margindouble;
		padding: $vertical-margin $horizontal-padding $vertical-margindouble;
		border-bottom: 1px solid rgba(lighten( $gray, 20% ),.5);
		h1, p {
			margin: 0;
		}
		@include breakpoint(wide-desktop) {
			margin-left: auto;
			margin-right: auto;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.wide,
	.swatches,
	.sample {
		@extend %negative-margins;
		margin-top: $vertical-margindouble;
		margin-bottom: $vertical-margindouble;
		@include breakpoint(wide-desktop) {
			margin-left: auto;
			margin-right: auto;
		}
	}
	figure img {
		max-width: 100%;
	}
	p {
		margin: $vertical-margin 0;
	}
	hr {
		border-top-color: rgba(lighten( $gray, 20% ),.8);
	}
}

.swatches {
	.swatch {
		margin: 20px 0;
	}
	@media screen and ( min-width: 800px ) {
		.swatch {
			margin: 1%;
		}
		&.col-1 .swatch { width: 96%; }
		&.col-2 .swatch { width: 48%; }
		&.col-3 .swatch { width: 31.33%; }
		&.col-4 .swatch { width: 23%; }
	}
}

.download-list {
	margin-top: 0;
	margin-bottom: $vertical-margindouble;
	
	small {
		display: block;
		line-height: 1.313;
		margin-bottom: ($vertical-margin)/2;
		color: $gray;
	}
}